$font-stack:    Helvetica, sans-serif;
$primary-color: pink;
$secondary-color: #141212;
$width: 100%;
$space: 20px;

html, body, p , ul{
    margin: 0;
    padding: 0;
  }
  body {
    font: 100% $font-stack;
    color: $primary-color;

  }
  header{
      padding:$space*2 0 $space;
  }
  ul {
    list-style: none;

    li {
        margin: 0;
        display: inline;
        
        a {
            text-decoration: none;
            color: $secondary-color;
            background: $primary-color;
            padding: $space/4 $space/2;
            &::before{
                content: "~";}
            &:hover{
                transition: 1s;
                background-color:darksalmon;
               
                
            }
        }
    }
}

article {
    background: grayscale($primary-color);
    color: $secondary-color;
    padding: $space/2;
}
article:nth-child(4n+2){
   grid-column: span 3;
}
article:nth-child(4n+3){
  grid-column: span 3;
 }

article:first-child{
    background-color: white;
}
article:last-child{
    background-color: white;
}

article::first-letter{
    font-size: 150%;
}
blockquote::before{
    content:  ' " ';
}
blockquote::after{
    content:  ' " ';
}
main {
    width: $width*.9;
    margin: 0 auto;
    background: lighten($secondary-color, 10%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $space/2;
  }
nav{
    padding-left: $space*4;
}
  footer{
      height: $space;
      background: red;
      margin-bottom: $space;
  }