html, body, p, ul {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  color: pink; }

header {
  padding: 40px 0 20px; }

ul {
  list-style: none; }
  ul li {
    margin: 0;
    display: inline; }
    ul li a {
      text-decoration: none;
      color: #141212;
      background: pink;
      padding: 5px 10px; }
      ul li a::before {
        content: "~"; }
      ul li a:hover {
        transition: 1s;
        background-color: darksalmon; }

article {
  background: #e0e0e0;
  color: #141212;
  padding: 10px; }

article:nth-child(4n+2) {
  grid-column: span 3; }

article:nth-child(4n+3) {
  grid-column: span 3; }

article:first-child {
  background-color: white; }

article:last-child {
  background-color: white; }

article::first-letter {
  font-size: 150%; }

blockquote::before {
  content: ' " '; }

blockquote::after {
  content: ' " '; }

main {
  width: 90%;
  margin: 0 auto;
  background: #2f2a2a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; }

nav {
  padding-left: 80px; }

footer {
  height: 20px;
  background: red;
  margin-bottom: 20px; }
